server_nodered.json
[{"id":"2a5e4420.d9119c","type":"http in","z":"a2b187fe.572708","name":"ANWI-Server","url":"postdata","method":"post","upload":true,"swaggerDoc":"","x":118.78689575195312,"y":471.3550615310669,"wires":[["1356b455.9c3b4c","3b5fc34e.7f236c","3eceea50.40a526","c55f9a49.f222a8"]]},{"id":"a4073f8d.d5641","type":"inject","z":"a2b187fe.572708","name":"TestData","topic":"","payload":"{\"id\":1,\"sensor_location\":\"SOUTH\",\"bssid_mac\":\"24:0A:C4:DD:DD:D4\",\"rssi\":12,\"estimated_distance\":3,\"attack_type\":3,\"channel\":12,\"attackers_mac\":\"00:0B:79:07:A6:A5\",\"victims_mac\":\"24:0A:C4:DD:DD:D4\",\"deauth_reason\":4}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111.78121948242188,"y":365.8805503845215,"wires":[["3b5fc34e.7f236c","3eceea50.40a526","c55f9a49.f222a8"]]},{"id":"66d5f4c4.9f982c","type":"http request","z":"a2b187fe.572708","name":"DocPutAPI","method":"POST","ret":"obj","url":"https://c0bbe27fc47a4db797424203d5505f19.us-east-1.aws.found.io:9243/test1/_doc","tls":"","x":915.8750152587891,"y":213.93176651000977,"wires":[[]]},{"id":"1356b455.9c3b4c","type":"http response","z":"a2b187fe.572708","name":"Return200","statusCode":"200","headers":{},"x":336.96305084228516,"y":472.04826307296753,"wires":[]},{"id":"1e333a36.eeb6e6","type":"inject","z":"a2b187fe.572708","name":"CreateIndexMapping","topic":"","payload":"{\"mappings\":{\"_doc\":{\"properties\":{\"attack_type\":{\"type\":\"long\"},\"attackers_address\":{\"type\":\"text\",\"fields\":{\"keyword\":{\"type\":\"keyword\",\"ignore_above\":256}}},\"bssid_mac\":{\"type\":\"text\",\"fields\":{\"keyword\":{\"type\":\"keyword\",\"ignore_above\":256}}},\"channel\":{\"type\":\"long\"},\"timestamp\":{\"type\":\"date\",\"format\":\"epoch_millis\"},\"deauth_reason\":{\"type\":\"long\"},\"estimated_distance\":{\"type\":\"long\"},\"id\":{\"type\":\"long\"},\"rssi\":{\"type\":\"long\"},\"attackers_mac_vendor\":{\"type\":\"text\",\"fields\":{\"keyword\":{\"type\":\"keyword\",\"ignore_above\":256}}},\"victims_mac_vendor\":{\"type\":\"text\",\"fields\":{\"keyword\":{\"type\":\"keyword\",\"ignore_above\":256}}},\"sensor_location\":{\"type\":\"text\",\"fields\":{\"keyword\":{\"type\":\"keyword\",\"ignore_above\":256}}},\"victims_address\":{\"type\":\"text\",\"fields\":{\"keyword\":{\"type\":\"keyword\",\"ignore_above\":256}}}}}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138.78408813476562,"y":560.8863296508789,"wires":[["e51c3448.97fbb8"]]},{"id":"e51c3448.97fbb8","type":"http request","z":"a2b187fe.572708","name":"CreateIndexAPI","method":"PUT","ret":"obj","url":"https://c0bbe27fc47a4db797424203d5505f19.us-east-1.aws.found.io:9243/test1","tls":"","x":412.78977966308594,"y":563.0596389770508,"wires":[["d169eae8.933858"]]},{"id":"d169eae8.933858","type":"debug","z":"a2b187fe.572708","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650.9659061431885,"y":560.6278877258301,"wires":[]},{"id":"3b5fc34e.7f236c","type":"function","z":"a2b187fe.572708","name":"timestamp","func":"var timestamp = new Date();\nmsg.payload[\"timestamp\"] = timestamp.getTime() - 76400000;//1 day\nreturn msg;","outputs":1,"noerr":0,"x":337.1768569946289,"y":367.9368152618408,"wires":[["c32b6.3096fd4b"]]},{"id":"c55f9a49.f222a8","type":"function","z":"a2b187fe.572708","name":"GetVictimsMacVendor","func":"var amac = msg.payload.victims_mac.replace(/:/g, \"-\");\nmsg.mac = amac;\nreturn msg;","outputs":1,"noerr":0,"x":129.18038940429688,"y":156.2130889892578,"wires":[["589c78f5.a5c608"]]},{"id":"c32b6.3096fd4b","type":"join","z":"a2b187fe.572708","name":"MergeData","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":708.0753326416016,"y":335.0141792297363,"wires":[["66d5f4c4.9f982c","7b8c79aa.806138"]]},{"id":"3eceea50.40a526","type":"function","z":"a2b187fe.572708","name":"GetAttackersMacVendor","func":"var vmac = msg.payload.attackers_mac.replace(/:/g, \"-\");\nmsg.mac = vmac;\nreturn msg;","outputs":1,"noerr":0,"x":138.5333709716797,"y":277.3075256347656,"wires":[["ca232266.fcd57"]]},{"id":"1e455bc0.8e7454","type":"function","z":"a2b187fe.572708","name":"ExtractVendorInfo","func":"victims_mac_vendor = msg.payload;\nvar newMsg = {payload:{\"victims_mac_vendor\":victims_mac_vendor}};\nreturn newMsg;","outputs":1,"noerr":0,"x":435.35877227783203,"y":160.66406154632568,"wires":[["c32b6.3096fd4b"]]},{"id":"589c78f5.a5c608","type":"http request","z":"a2b187fe.572708","name":"GetVendor","method":"GET","ret":"txt","url":"https://macvendors.co/api/vendorname/{{{mac}}}","tls":"","x":343.72230529785156,"y":93.8515625,"wires":[["1e455bc0.8e7454"]]},{"id":"ca232266.fcd57","type":"http request","z":"a2b187fe.572708","name":"GetVendor","method":"GET","ret":"txt","url":"https://macvendors.co/api/vendorname/{{{mac}}}","tls":"","x":329.38140869140625,"y":212.82174682617188,"wires":[["4b12b73d.fa6fa8"]]},{"id":"4b12b73d.fa6fa8","type":"function","z":"a2b187fe.572708","name":"ExtractVendorInfo","func":"attackers_mac_vendor = msg.payload;\nvar newMsg = {payload:{\"attackers_mac_vendor\":attackers_mac_vendor}};\nreturn newMsg;","outputs":1,"noerr":0,"x":434.56321716308594,"y":284.0944495201111,"wires":[["c32b6.3096fd4b"]]},{"id":"7b8c79aa.806138","type":"debug","z":"a2b187fe.572708","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":691.7223434448242,"y":140.6356544494629,"wires":[]}]